html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  user-select: none;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}
.root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.nodify{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.nodify div {
  font-size: 12px;
}
